<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="404.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    <div id="outPopUp" class="fof">
        		<h1>Error 404</h1>
                <h2>Página no encontrada</h2>
                <h3>El recurso no puede ser encontrado en el servidor!</h3>
    	</div>
</body>
</html>